<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390867138880-lkj7hkejgfhpmo18f962d08na80hd40g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390867138880-lkj7hkejgfhpmo18f962d08na80hd40g</string>
	<key>API_KEY</key>
	<string>AIzaSyBr968dKJMUlHKWsqnWoNkzXTDH5Io1kD8</string>
	<key>GCM_SENDER_ID</key>
	<string>390867138880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dwalldrop</string>
	<key>PROJECT_ID</key>
	<string>wallpapers-40651</string>
	<key>STORAGE_BUCKET</key>
	<string>wallpapers-40651.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390867138880:ios:56d92d863b14c0cc6722a5</string>
</dict>
</plist>